.Table {
    height: 100%;
    width: 100%;
    overflow: hidden;
    flex-shrink: 1;
    position: relative;

	canvas {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border-radius: 1em;
	}
	
}